---
import Layout from "../layouts/Layout.astro";
import ArticleList from "../components/ArticleList";
import "../styles/global.css";
---

<Layout title="Articles">
  <main>
    <ArticleList client:load />
    <!-- ✅ Load SolidJS component -->
  </main>
</Layout>
