---
import Layout from "../layouts/Layout.astro";
import ArticleList from "../components/ArticleList";
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import ArticleListContainer from "../components/ArticleListContainer.astro";
---

<Layout title="Articles">
  <h1 class="text-2xl font-bold mb-4">Animal Articles</h1>

  <ArticleListContainer />
  <client:load>
    <ArticleList speciesFilter={true} client:load />
  </client:load>
</Layout>
